body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height:100%;
}

h1 {text-align: center;}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    height: 36px;
    background-color:green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    line-height: 36px;
}

li{
    float: right;
    border-right:1px solid white ;
}

a{
    display: block;
    padding: 0 28px;
    color: white;
    text-decoration: none;
}

a:hover,.active a{
    background-color: rgb(18, 196, 18);
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}


input,select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

h3{
    text-align: center;
    background-color: green;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;

}

div{
    /* justify-content: center;
    display: flex; */
    margin-left: 50vh;
    margin-right: 50vh;
}

img{
    height: 10vh;
    margin-top: 5px;
    padding-right: 30px;
}




